@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
a{ text-decoration:none;} 
li{ list-style:none;} 
em,i{ font-style:normal;}
b,strong{ font-weight:normal;}
.w1190{ width:1190px; margin:0 auto;}
body{ font-size:12px; font-family:"微软雅黑";}
.wrapper{ width:1190px; margin:10px auto; }
img{ display:block;}
a{ color:#3c3c3c;}
.fl{float:left;}
.fr{float:right; }
 .clearFix:after{ content:''; display:block; clear:both; }
.clearFix{ zoom:1; }

input{ outline:none; border:none; padding:0;}
body a:hover{ color:#f40; }
